/* Reset
 * =============================================================================
 *
 * As well as using normalize.css, lets remove all
 * margins from certain elements.
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

/* Box Sizing
 * =============================================================================
 *
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 *
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Base Variables
 * =============================================================================
 *
 * Some base numbers we can use to make our designs more rythmic and avoid
 * having to use arbitrary values.
 *
 */
/* Base Extends
 * =============================================================================
 *
 * Some base extends that we can use. These act as partials that can be inserted
 * into the CSS.
 *
 */

.album-title, .album-author, .album-subtitle {
  line-height: 150%; }

/* Generics
 * =============================================================================
 *
 * Description
 */
html {
  height: 100%; }

body {
  font: 14px/1.42857 'Open Sans';
  color: white;
  overflow-y: scroll;
  min-height: 100%;
  margin: 0;
  background: -webkit-radial-gradient(#2b1339, #380c77);
  background: radial-gradient(#2b1339, #380c77);
  border-radius: 4px; }

.landing {
  background-color: #5b5579; }

/**
 * Create simple vertical spacing between headings
 * and copy.
 */
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px; }

/* Hero Module
 * =============================================================================
 *
 * Description
 */
.hero-content {
  background: #2f1d57;
  background-image: url(/images/hero-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 120px;
  padding-bottom: 120px; }
  .hero-content h1 {
    font-size: 42px;
    font-weight: 300; }
  .hero-content p {
    font-size: 21px;
    font-weight: normal; }

/* Nav Module
 * =============================================================================
 *
 * Description
 */
nav {
  background-color: #2c1231; }

.player-header-nav {
  margin-bottom: 0;
  text-align: center; }
  @media (min-width: 32em) {
    .player-header-nav {
      text-align: left; } }
  .player-header-nav > img {
    vertical-align: top;
    margin-top: 4px; }

/* Selling Points Module
 * =============================================================================
 *
 * Description
 */
.selling-point {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px; }
  .selling-point h2 {
    font-size: 21px;
    margin-bottom: 30px; }

/* Album Header Module
 * =============================================================================
 *
 * Description
 */

.album-header-container {
  margin-top: 100px;
  margin-bottom: 80px; }

.album-header-information {
  margin-top: 60px; }

.album-title {
  font-size: 48px;
  font-weight: 300; }

.album-author {
  font-size: 24px; }

.album-subtitle {
  font-size: 16px; }

/* Album Table Module
 * =============================================================================
 *
 * Description
 */
.album-song-listing {
  font-weight: 300; }

.table.album-song-listing td {
  padding: 20px;
  border-top-color: rgba(255, 255, 255, 0.4); }


/*# sourceMappingURL=app.css.map*/