/*------------------------------------*\
    #RESET
\*------------------------------------*/

/**
 * As well as using normalize.css, lets remove all
 * margins from certain elements.
 */

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
    margin:  0;
    padding: 0;
}

/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/

/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */

html {
    box-sizing: border-box;
}

* {

    &,
    &:before,
    &:after {
        box-sizing: inherit;
        }

}

/*------------------------------------*\
    #BASE-CONFIGURATION
\*------------------------------------*/

$base-font-size: 14px;
$base-line-height: 20px;


/*------------------------------------*\
    #EXTENDABLE GRID COMPONENT
\*------------------------------------*/

%grid {
    margin-left:  -1 * $base-line-height;
    list-style: none;
    font-size: 0;

    box-sizing: border-box;
}
    
    %grid_item {
        font-size: $base-font-size;
        margin-left: 0;
        display: inline-block;
        width: 100%;
        padding-left: $base-line-height;
        vertical-align: top;
    }

/*------------------------------------*\
    #EXTENDABLE CONTAINER
\*------------------------------------*/

/** 
 * Was implemented as a extend fragment, several issues with the @extend
 * directive in libsass. https://github.com/sass/libsass/issues/146
 */

@mixin container() {
    
    padding-left: $base-line-height;
    padding-right: $base-line-height;

    @media (min-width: 42em){
        padding-left: 6 * $base-line-height;
        padding-right: 6 * $base-line-height;
    }
}

