/* Reset
 * =============================================================================
 *
 * As well as using normalize.css, lets remove all
 * margins from certain elements.
 */

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
    margin:  0;
    padding: 0;
}


/* Box Sizing
 * =============================================================================
 *
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 *
 */

html {
    box-sizing: border-box;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
        }
}


/* Base Variables
 * =============================================================================
 *
 * Some base numbers we can use to make our designs more rythmic and avoid
 * having to use arbitrary values.
 *
 */

$base-font-size: 14px;
$base-line-height: 20px;


/* Base Extends
 * =============================================================================
 *
 * Some base extends that we can use. These act as partials that can be inserted
 * into the CSS.
 *
 */

%line-tight {
    line-height: 66.6667%;
}
 
%line-loose {
    line-height: 150%;
}

%text-light {
    font-weight: 300;
}