//@import "../../bower_components/bourbon/dist/bourbon";
//bourbon is failing

@import "utils";

/* Generics
 * =============================================================================
 *
 * Description
 */

html {
    height: 100%;
}

body {
    font: #{$base-font-size}/($base-line-height / $base-font-size) 'Open Sans';
    color: #fff;
    overflow-y: scroll;
    min-height: 100%;
    margin: 0;
    background: -webkit-radial-gradient(  #2b1339, #380c77);
    background: radial-gradient(   #2b1339, #380c77);
    border-radius: 4px;
}

    .landing {
        background-color: #5B5579;
    }

/**
 * Create simple vertical spacing between headings
 * and copy.
 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: $base-line-height;
}

/**
 * Fluid images.
 */

 img {
    max-width: 100%;
 }

/* Hero Module
 * =============================================================================
 *
 * Description
 */
 .hero-content {
    background: #2F1D57;
    background-image: url(/images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;

    padding-top: 6 * $base-line-height;
    padding-bottom: 6 * $base-line-height;

        h1 {
            font-size: 3 * $base-font-size;
            @extend %text-light;
        }

        p {
            font-size: 1.5 * $base-font-size;
            font-weight: normal;
        }
 }

/* Nav Module
 * =============================================================================
 *
 * Description
 */

nav {
    background-color: #2c1231;
}

.player-header-nav {
    margin-bottom: 0;
    text-align: center;

    @media (min-width: 32em){
        text-align: left;
    }

    > img {
        vertical-align: top;
        margin-top: 4px; //slight adjustment for the logo
    }
}

/* Selling Points Module
 * =============================================================================
 *
 * Description
 */

.selling-point {
    text-align: center;
    padding-top: 2 * $base-line-height;
    margin-bottom: $base-line-height;

    h2 {
            font-size: 1.5 * $base-font-size;
            margin-bottom: 1.5 * $base-line-height;
        }
}

/* Album Header Module
 * =============================================================================
 *
 * Description
 */

%line-height-loose {
    line-height: 150%;
}

.album-header-container {
     margin-top: 5 * $base-line-height;
     margin-bottom: 4 * $base-line-height;
}

    .album-header-information {
        margin-top: 3 * $base-line-height;
    }

    .album-title {
        font-size: 48px;
        @extend %text-light;
        @extend %line-loose;
    }

    .album-author {
        font-size: 24px;
        @extend %line-loose;
    }

    .album-subtitle {
        font-size: 16px;
        @extend %line-loose;   
    }


/* Album Table Module
 * =============================================================================
 *
 * Description
 */

 .album-song-listing {
    @extend %text-light;
 }

    .table.album-song-listing td {  // This is why I dont use Bootstrap...specificity hell!
        padding: $base-line-height;
        border-top-color: rgba(#fff, 0.4);
    }

/* Collection Module
 * =============================================================================
 *
 * Description
 */

  .collection-album-container {
     margin-top: 2 * $base-line-height;
     margin-bottom: 1.5 * $base-line-height;
  }
  
      .collection-album-info {
         margin-top: $base-line-height/2;
      }
      
      .collection-album-info p {
         font-size: 16px;
         @extend %text-light; 
         color: rgba(#fff, 0.6);
      }
      
      .collection-album-info a {
        color: rgba(#fff, 0.6);
      }
  
      .collection-album-info .album-name {
        color: white;
      }